+esInput index="songs" placeholder="Search..."

+ifEsInputIsEmpty index="songs"
	p Search For Songs

+ifEsIsSearching index="songs"
	p Loading...
else
	ul
		+esEach index="songs"
			li
				| {{artist}} {{title}} {{lastYearPlayed}}


+ifEsHasNoResults index="songs"
	p No Results Found!